.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.carousel-item > img {
    height: 350px;
}
.card {
    cursor: pointer;
    padding: 0px;
    background: none;
    border: none;
    box-shadow: none;
}
.card-body {
    padding: 0px;
}
.carousel {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 0.5em 1em;
}
.card-text, .card-title {
    font-size: 1.25em;
}
.availability {
    width: calc(25% - 15px);
    margin-right: 15px;
}
.availability:nth-child(4n) {  
    margin-right: 0px;
}